@model  IEnumerable<ClassDemo.Models.TrackerItem>

@{
    ViewBag.Title = "ItemsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Items List <span>@Html.ActionLink("Add", "RazorForm") </span></h2> 

<div class="container">
    <div class="table-responsive">

        <table class="table">
            @foreach (var item in Model)
            {
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>Summary</th>
                    <th>Priority</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>CreatedDate</th>
                    <th>AssignedDate</th>
                    <th>Resolved Date</th>
                    <th>End Date</th>
                </tr>
            </thead>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemSummary)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPriority)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemStatus)

                    </td>
                    <td>
                        @Html.DisplayFor(modeltem => item.ItemCreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelAssignedDate => item.AssignedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelResolvedDate => item.ResolvedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemEndDate)
                    </td>
                    <td>
                        @* Image Name Display *@
                        @*@Html.DisplayFor(modelItem => item.AttachmentPath)*@

                        @* Image  Display *@
                        <img src="@Url.Content(string.Format("~/Content/upload_attachements/{0}",item.AttachmentPath))" height="150" width="150" />

                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                        @Html.ActionLink("Details", "DetailsView", new { id = item.ItemId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                        <a href="#" onclick="return deleteItemById(@item.ItemId )">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>

 function deleteItemById(id) {
        var cnf = confirm("Do you want delete this record! "+ id);

        if (cnf == true) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Delete", "Home")',
                data: "ID=" + id,
                dataType: "json",
                success: function (data) {
                    alert(data.message);

                },
                error: function (error) {
                    alert(error);
                }
            });
        }
      }
</script>