@model  IEnumerable<ClassDemo.Models.TrackerItem>

@{
    ViewBag.Title = "ItemsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items List <span>@Html.ActionLink("Add", "RazorForm") </span></h2> 

<div class="container">
    <div class="table-responsive">

        <table class="table">
            @foreach (var item in Model)
            {
            <thead>
                <tr>
                    <th>ItemID</th>
                    <th>ItemSummary</th>
                    <th>ItemType</th>
                    <th>ItemPriority</th>
                    <th>ItemStatus</th>
                    <th>ItemCreatedDate</th>
                    <th>ItemEndDate</th>
                </tr>
            </thead>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemSummary)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPriority)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemStatus)

                    </td>
                    <td>
                        @Html.DisplayFor(modeltem => item.ItemCreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemEndDate)
                    </td>
                    <td>
                        <img src="@Url.Content(String.Format("~/Content/upload_attachements/{0}", item.AttachmentPath))" />
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>