
@{

    ViewBag.Title = "RazorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ClassDemo.Models.TrackerItem

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <p>
            <h2>Tracker Item</h2>
            @ViewBag.Message
        
          
            
        </p>

    </div>
</div>

@using (Html.BeginForm("RazorForm", "Home", FormMethod.Post, new { id = "myForm" }))
{

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <p>
                    <label for="ID">
                        Item ID:
                    </label><br>
                    @Html.TextBox("ItemId")
                    @Html.ValidationMessageFor(model => model.ItemId)
                </p>
                <p>
                    <label for="Summary">
                        Summary:
                    </label><br>
                    @Html.TextArea("ItemSummary")
                    @Html.ValidationMessageFor(model => model.ItemSummary)
                </p>
                <p>
                    <label for="Category">
                        Item Category:
                    </label><br>
                    @Html.DropDownList("ItemCategory", (IEnumerable<SelectListItem>)ViewBag.CategoryVB, "--Select Item Category--", new { @class = "Category" })
                </p>
                <p>
                    <label for="Type">
                        Item Type:
                    </label><br>
                    @Html.DropDownList("ItemType", (IEnumerable<SelectListItem>)ViewBag.ItemTypeVB, "--Select Type--", new { @class = "Type" })
                </p>
                <p>
                    <label for="Priority">
                        Priority:
                    </label><br>
                    <select id="Priority" name="Priority">
                        <option value="0">-- Select Priority --</option>
                        <option value="1"> Urgent </option>
                        <option value="2"> High </option>
                        <option value="3">  Medium </option>
                        <option value="4"> Low </option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Priority)
                </p>


            </div>
            <div class="col-md-6">
                <p>
                    <label for="ID">
                        Date:
                    </label><br>
                    @Html.TextBox("ItemCreatedDate", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ItemCreatedDate)
                </p>
                <p>
                    <label for="ID">
                        End Date:
                    </label><br>
                    @Html.TextBox("ItemCreatedEndDate", null, new { @class = "form-control" })
                   
                </p>
                <p>
                    <label for="ID">
                        %workCompleted:
                    </label><br>
                    @Html.TextBox("workCompleted", null, new { @class = "form-control" })
                </p>
                <p>
                    <label for="ID">
                        Status:
                    </label><br>
                    @Html.TextBox("Status", null, new { @class = "form-control" })

                </p>
                <p>
                    <label for="ID">
                        Created By:
                    </label><br>
                    @Html.TextBox("CreatedBy", null, new { @class = "form-control" })
                   @Html.ValidationMessageFor(model => model.CreatedBy)
                </p>
                <p>
                    <label for="ID">
                        Owner:
                    </label><br>
                    @Html.TextBox("Owner", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Owner)
                </p>
                <p>
                    <label for="ID">
                        Imapct:
                    </label><br>
                    @Html.TextArea("Impact", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Impact)
                </p>
                <p>
                    <label for="ID">
                        Resolution:
                    </label><br>
                    @Html.TextArea("Resolution", null, new { @class = "form-control" })
                   @Html.ValidationMessageFor(model => model.Resolution)
                </p>
                <p>
                    <label for="ID">
                        Resolved:
                    </label><br>
                    @Html.TextBox("Resolved", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Resolved)
                </p>
                <p>
                </p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-6">
                <p>
                    <input type="submit" value="Add" class="btn-primary" />
                </p>

            </div>
          
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-6">
                <p>
                    <input type="button" onclick="myFunction()" value="Reset form" class=" btn-primary" />
                    
                </p>

            </div>

        </div>
    </div>
}
<script>
    function myFunction() {
        document.getElementById("myForm").reset();
    }
</script>
  

